:root {
	/* primary */
	--pink: hsl(322, 100%, 66%);

	/* neutral */
	--very-pale-cyan: hsl(193, 100%, 96%);
	--very-dark-cyan: hsl(192, 100%, 9%);
	--grayish-blue: hsl(208, 11%, 55%);

	/* font */
	--body-font: 18px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* helper classes */

.container {
	margin-inline: 1.5rem;
}

@media (min-width: 768px) {
	.container {
		margin: 0 auto;
		padding: 0 1.5rem;
		max-width: 1440px;
	}
}

img {
	max-width: 100%;
}

body {
	font-size: var(--body-font);
}

header {
	background: url(./images/bg-hero-mobile.svg), var(--very-pale-cyan);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 110vh;
	padding-top: 1.5rem;
}

@media (min-width: 768px) {
	header {
		height: 90vh;
	}
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.logo {
	flex-basis: 150px;
}

.nav__btn {
	text-decoration: none;
	color: var(--very-dark-cyan);
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 0.25rem 1.5rem;
	border-radius: 20px;
	box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%);
}

.nav__btn:hover {
	box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 20%);
}

@media (min-width: 48em) {
	header {
		background: url(./images/bg-hero-desktop.svg), var(--very-pale-cyan);
		height: 100vh;
	}
}

/* Hero  */

.hero {
	margin-top: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5rem;
}

.hero__text {
	text-align: center;
}

.hero__text h1 {
	font-family: 'Poppins', sans-serif;
	font-size: clamp(1.7rem, 3vw, 2.5rem);
	margin-bottom: 1.5rem;
}

.hero__text p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: var(--very-dark-cyan);
	margin-bottom: 2.2rem;
}

.cta__btn {
	text-decoration: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: var(--pink);
	padding: 0.5rem 2.9rem;
	border-radius: 20px;
	transition: 200ms;
}

.cta__btn:hover {
	box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 20%);
}

.hero__img {
	max-width: 300px;
}

@media (min-width: 48em) {
	.hero {
		flex-direction: row;
		justify-content: center;
	}
	.hero__text {
		text-align: left;
		flex-basis: 40%;
	}
	.hero__text h1 {
	}
	.hero__img {
		max-width: 600px;
		flex-basis: 60%;
	}
}

/* features */

.features {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-top: 3rem;
	padding-bottom: 10rem;
}

.features__card {
	border-radius: 20px;
	box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%);
	padding: 3rem 1.6rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.features__card .text {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.features__card .text h2 {
	margin-bottom: 1.5rem;
	color: var(--very-dark-cyan);
}

.features__card .text p {
	color: var(--grayish-blue);
}

@media (min-width: 48em) {
	.features {
		padding: 7rem 5rem;
		padding-bottom: 12rem;
	}
	.features__card {
		flex-direction: row;
		align-items: center;
	}

	.features__card:nth-child(1),
	.features__card:nth-child(3) {
		flex-direction: row-reverse;
	}
}

/* footer */

footer {
	padding-top: 7rem;
	padding-bottom: 5rem;
	background-color: var(--very-dark-cyan);
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

footer .cta {
	background-color: #fff;
	text-align: center;
	padding: 2rem 1rem;
	border-radius: 10px;
	box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%);

	position: absolute;
	top: -120px;
	left: 0;
	right: 0;
}

@media (min-width: 48em) {
	.cta {
		width: 500px;
		padding: 3rem 2rem;
	}
}

.cta h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: var(--very-dark-cyan);
	margin-bottom: 2rem;
}
.contact {
	color: var(--very-pale-cyan);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.footer_links {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
}

.contact {
	flex: 2;
}
.links_1,
.links_2,
.social {
	flex: 1;
}

@media (min-width: 48em) {
	.footer_links {
		flex-direction: row;
		gap: 2rem;
	}

	.contact {
		padding-right: 4rem;
	}
}

.contact {
	margin-bottom: 3rem;
}

.location,
.phone,
.email {
	display: flex;
	align-items: flex-start;
	justify-content: start;
	gap: 2rem;
}

.location img {
	width: 22px;
	/* margin-right: 20px; */
}

.links_1,
.links_2 {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.links_1 a,
.links_2 a {
	text-decoration: none;
	color: var(--very-pale-cyan);
}

.links_1 a:hover,
.links_2 a:hover {
	text-decoration: underline;
}

.social {
	margin-top: 3rem;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.social a {
	text-decoration: none;
	display: grid;
	place-items: center;
	height: 30px;
	width: 30px;
	color: var(--very-pale-cyan);
	border: 1px solid var(--very-pale-cyan);
	border-radius: 50%;
	transition: 200ms;
}

.social a:hover {
	color: var(--pink);
	border-color: var(--pink);
}

@media (min-width: 48em) {
	.social {
		margin-top: 0;
		align-self: initial;
	}
}

.copyright {
	color: var(--very-pale-cyan);
	margin-top: 2rem;
	text-align: center;
}

@media (min-width: 48em) {
	.copyright {
		text-align: right;
		margin-top: -3rem;
	}
}
